
  body{ 
font-family: "MS gothic";
font-size: 15px;
color: saddlebrown;
padding: 0;
      margin: 0;
      word-wrap: break-word;
}

@font-face {
  font-family: ShortStack;
  src: url(/ShortStack-Regular.ttf);
}

a{
color: orangered;

}

a:hover{
font-style: italic;
    
}

a:visited{
color: #589e7b;
}

u{
    text-decoration: wavy underline;
    text-decoration-thickness: .5px;
}

.hug{
height: 100%;
width: 620px;
margin: auto;
}

.title{
font-family: 'ShortStack';
font-size: 40px;
color: white;
-webkit-text-stroke:1.5px darkcyan;
text-shadow: 2px 2px 3px #305957;
float: right;
margin-right: 2%;
}


hr{
    border: 1px dashed darkseagreen;
}
@media screen and (max-width: 650px){
            
            .hug{
                width: 90%;
            }
        }
